.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  font-family: 'nanumsquare';
}

.black-nav{
  background:#000;
  color:white;
  font-size:18px;
  text-align: left;
  font-weight: bold;
  padding:20px;
}
.list{
  position: relative;
  text-align: left;
  padding:0 20px ;
}
.list h3{
  cursor: pointer;
  font-size: calc(2px + 2vmin);
}
.list .good{
  position: absolute;
  top:50%;
  right:20px;
  cursor: pointer;
  font-size: 24px;
}
.write{
  margin: 0 auto;
  width: 300px;
}
.write span{
  display: block;
  font-size: 13px;
  text-align: left;
}
.write input{
  width: 100%;
  border: 1px solid #dfdfdf;
  padding:5px;
  margin-bottom: 10px;
}
.modal{
  position: absolute;
  /* width: 100vw;
  height: 100vh; */
  top:500px;
  left:500px;
  background: rgba(0, 0, 0, 0.329);
  text-align: center;
  
}
.modal .contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height:500px;
  background: #eee;
  padding:20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
